body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
}

h1 {
  color: #333;
}

section {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border: solid;
  border-radius: 5px;
  background: #007BFF;
  color: white;
}

button:hover {
  background: #0056b3;
}

p {
  font-size: 18px;
  margin-top: 10px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#imagemProxima{
  transform: translateX(100%);
  
}
